In [1]:
#W4A1
n = int(input())
s = 0
for i in range (1, n + 1):
    s += i
print(s)

10
55

In [ ]:
#W4A2
n = int(input())
dem = 0
for i in range (1, n + 1):
    if n % i == 0:
        dem += 1
if dem == 2:
    print('true')
else:
    print('false')

In [ ]:
#W4A3
n = int(input())
s = 1
for i in range(1, n + 1):
    s *= i
print(s)

In [ ]:
#W4A4
n = int(input())
n = abs(n)
dem = 0
while n > 0 :
    dem += 1
    n //= 10
print(dem)

In [ ]:
#W4A5
n = int(input())
a = list(map(int,input().split()))
if 42 in a :
    print("I've found meaning of life")
else:
    print("It's a joke")

In [ ]:
#W4A6
a,b = map(int,input().split())
s = 0
for i in range(a,b + 1):
    d = 0
    for j in range(1,i + 1):
        if i % j == 0:
            d += 1
    if d == 2:
        s += i
print(s)

In [2]:
#W4A7
n = int(input())
for i in range(1,n + 1):
    if n % i == 0:
        d = 0
        for j in range(1,i + 1):
            if i % j == 0:
                d += 1
        if d == 2:
            max = i
print(max)

27
3

In [43]:
#W4A8
n = int(input())
def check(x):
    s = 0
    while x > 0:
       s = s * 10 + x % 10
       x //= 10
    return s
dem = 0
while n != check(n):
    n += check(n)
    dem += 1
print(dem,n)

57
2 363

In [5]:
#W4A9
n = int(input())

for i in range(1,n + 1):
    if i * i <= n:
        s = i * i
        x = s
        dem = 0
        d = 0
        a = []
        while s > 0:
            S = s % 10
            d += 1
            if S not in a:
                a.append(S)
                dem += 1
            s //= 10
        if d == dem :
            print(x,end = ' ')

1000
1 4 9 16 25 36 49 64 81 169 196 256 289 324 361 529 576 625 729 784 841 961

In [6]:
#W4A10
n = int(input())
max = 0
for i in range (1,n + 1):
    d = 1
    a = i
    while i > 1:
        d += 1
        if i % 2 == 0:
            i = i / 2
        else:
            i = i * 3 + 1
    if d > max :
        max = d
        m = a
print(m, max)

10
9 20

In [7]:
#W4A11
n = int(input())
d = 0
for i in range (1,n + 1):
    if n % i == 0 and i % 2 == 0:
        d += 1
print(d)

10024
12

In [ ]:
#W4A12
x,n = map(int,input().split())
print(int(x + x*0.007*n))

In [ ]:
#W4A13
a,b = map(int,input().split())
def check(x):
    s = 0
    for i in range(1,x):
        if x % i == 0:
            s += i
    return s
if check(a) == b and check(b) == a:
    print('True')
else:
    print('False')

In [ ]:
#W4A14
m,n = map(int,input().split())
for i in range (1,m + 1):
    if m % i == 0 and n % i == 0:
        max = i
print(max)

In [10]:
#W4A15
a,b = map(int,input().split())
check = False
for i in range(1,a + 1):
    if 2*i+4*(a-i)==b:
        check = True
        print(i,a-i)
if check == False:
  print('Invalid')

36 100
22 14

In [11]:
#W4A16
for i in range (1,101):
    if i % 6 == 0:
        print(i,end = " ")

10
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [ ]:
#W4A17
a = int(input())
for i in range (1,11):
    print(a,'*',i,'=',a*i)

In [12]:
#W4A18
a,b = map(int,input().split())
for i in range(1,a + 1):
    if a % i == 0 and b % i == 0:
        print(i,end = ' ')

10 10
1 2 5 10

In [13]:
#W4A19
n = int(input())
for i in range(1,n + 1):
    if i % 2 == 0:
        print(i,end = ' ')

8
2 4 6 8

In [15]:
#W4A20
n = int(input())
if n & (n -1) == 0:
  print('Yes')
else:
  print('No')

8
Yes

In [16]:
#W4A21
n = int(input())
s = 0
while n > 0:
    a = n % 10
    s += a
    n //= 10
print(s)

123
6

In [17]:
#W4A22
n = int(input())
d = 0
c = 0
while n > 0:
    a = n % 10
    if a % 2 == 0:
        d += 1
    else:
        c += 1
    n //= 10
print(d,'chu so chan va',c,'chu so le')

11112
1 chu so chan va 4 chu so le

In [18]:
#W4A23
n = int(input())
s = 0
k = 0
while s < n:
    k += 1
    s += k

print(k-1)

10
3

In [25]:
#W4A24
a = int(input())
s = 0
n = 0
while s <= a:
    n += 1
    s += 1 / n
print(n)

1
2

In [ ]:
#W4A25
maxi = 0
mini = 1e10
while True:
    n = int(input())
    if n < 0: break
    maxi = max(maxi,n)
    mini = min(mini,n)
print("So lon nhat la", maxi)
print("So nho nhat la", mini)

In [34]:
#W4A26
n = int(input())
m = 0
a = 1
b = 1
while m < n :
  m = a + b
  a = b
  b = m
print(a)

8
5

In [36]:
#W4A27
n = input()
dem = 0
for i in n:
  dem += 1
print(dem)

a d c
5

In [ ]:
#W4A28
n =  input()
for i in n :
    print(i)
    break

In [ ]:
#W4A29
s = input()
cac_phan_tu = s.split(',')
tong = 0
for phan_tu in cac_phan_tu:
    tong += int(phan_tu.strip())
print(tong)

In [ ]:
#W4A30
s = input()
hoa = 0
thuong = 0
so = 0

for char in s:
    if char.isupper():
        hoa += 1
    elif char.islower():
        thuong += 1
    elif char.isdigit():
        so += 1
print(hoa)
print(thuong)
print(so)

In [37]:
#W4A31
n = input()
s = 0
for i in n :
  if '0' <= i <= '9' :
    s += int(i)
print(s)

12b4h5
12

In [ ]:
#W4A32
s = input()
if len(s) <= 6:
    print("Mật khẩu yếu (độ dài phải > 6)")
else:
    co_hoa = False
    co_thuong = False
    co_so = False
    co_dac_biet = False

    for char in s:
        if char.isupper():
            co_hoa = True
        elif char.islower():
            co_thuong = True
        elif char.isdigit():
            co_so = True
        else:
            co_dac_biet = True

    if co_hoa and co_thuong and co_so and co_dac_biet:
        print("Đây là chuỗi mật khẩu mạnh")
    else:
        print("Đây là chuỗi mật khẩu không mạnh")

In [41]:
#W4A33
n = input()
ket_qua = ""
dem = 0
for i in range(len(n) - 1, -1, -1):
    ket_qua = n[i] + ket_qua
    dem += 1
    if dem % 3 == 0 and i != 0:
        ket_qua = "." + ket_qua
print(ket_qua)

100
100

In [ ]:
#W4A34