In [4]:
#bai1
n = int(input())
s = 0
while n > 0 :
  m = n % 10
  s = s * 10 + m
  n //= 10
print(s)

1234
4321

In [5]:
#bai2
a,b = map(int,input().split())
a = a ^ b
b = a ^ b
a = a ^ b
print(a,b)

1 2
2 1

In [ ]:
#bai3
n = int(input())
if n & (n - 1) == 0 :
  print(True)
else :
  print(False)

In [6]:
#bai4
m,n = map(int,input().split())
print(int(m/n))

2 3
0

In [7]:
#bai5
m,n = map(int,input().split())
print(int(m/n) + 1)

2 3
1

In [8]:
#bai6
x = int(input())
if x % 2 == 0 :
  print('Even')
else:
  print('Odd')

2
Even

In [10]:
#bai7
a,b = map(int,input().split())
if a < 0 and b < 0 :
  print('Yes')
else :
  print('No')

-2 -4
Yes

In [12]:
#bai8
m = input()
n = input()
if len(m) > len(n):
  print(True)
else:
  print(False)

asds
s
True

In [13]:
#bai9
a,b,c = map(int,input().split())
if a + b > c and b + c > a and a + c > b :
  print('Yes')
else :
  print('No')

3 4 5
Yes

In [22]:
#bai10
a = int(input())
b = int(input())
c = int(input())
d = int(input())
if a >= b >= c >= d:
  print(a)
elif b >= a >= c >= d:
  print(b)
elif c >= a >= a >= d:
  print(c)
elif d >= a >= c >= b:
  print(d)

1000
2000
3123
12
3123

In [25]:
#bai11
a,b,c = map(int,input().split())
if a + b > c and b + c > a and a + c > b :
  if a == b and b == c :
    print('Tam giac deu')
  elif a == b or b == c or a == c:
    print('Tam giac can')
  else :
    print('Tam giac thuong')
else :
  print('Khong la tam giac')

1 2 5
Khong la tam giac

In [30]:
#bai12
n = int(input())
if n % 4 == 0 and n % 100 != 0 or n % 400 == 0 :
  print('Nam nhuan')
else:
  print('Nam khong nhuan')

2004
Nam nhuan

In [34]:
#bai13
n = int(input())
if n < 50 :
  print(n * 1500)
elif 50 < n < 100:
  print((n - 50)*2000 + 50 * 1500)
else:
  print((n-100)*3000 + 50 * 1500 + 50 * 2000)

0
0

In [37]:
#bai14
a,b = map(int,input().split())
if a == 0 and b == 0:
  print('vo so nghiem')
elif a == 0 and b != 0 :
  print('vo nghiem')
else :
  print(f'{(a/b):.2f}')

3 9
0.33

In [39]:
#bai15
n = float(input())
if n >= 8.0 :
  print('Gioi')
elif n >= 6.5:
  print('Kha')
elif n >= 5.0 :
  print('Trung binh')
else:
  print('Yeu')

5
Trung binh

In [45]:
#bai16
n = float(input())
if n < 0 :
  n = abs(n)
  print(-int(n),-(int(n) + 1),end = " ")
  if n % int(n) < 0.5:
    print(-int(n))
  else:
    print(-(int(n) + 1))
else:
  print(int(n),(int(n) + 1),end = " ")
  if n % int(n) < 0.5:
    print(int(n))
  else:
    print((int(n) + 1))

-5.8
-5 -6 -6