In [ ]:
#1
n = list(map(int,input().split()))
a = []
for i in n :
  if i not in a  :
    a.append(i)
print(a)

1 2 2 3 1 4
[1, 2, 3, 4]

In [ ]:
#2
n = list(map(int,input().split()))
a = []
s = 0
for i in n :
  s += i
  a.append(s)
print(a)

1 2 3 4
[1, 3, 6, 10]

In [ ]:
#3
n = tuple(map(int,input().split()))
a = int(input())
print(n[a:len(n)] + n[0:a])

0 0 1
1
(0, 1, 0)

In [ ]:
#4
s = input()
pairs = s.split()
d = {}
for p in pairs:
    key, value = p.split(":")
    if key in d:
      d[key] += [value]
    else :
      d[key] = [value]
print(d)

a:2 b:3 a:4
{'a': ['2', '4'], 'b': ['3']}

In [ ]:
#5
n = list(map(int,input().split()))
d = {'positives':0, 'negatives':0,'zeros':0 }
for i in n:
  if i == 0:
    d['zeros'] += 1
  elif i > 0:
    d['positives'] += 1
  else:
    d['negatives'] += 1
print(d)

1 -2 0 3 -4 0 0
{'positives': 2, 'negatives': 2, 'zeros': 3}

In [ ]:
#6
n = list(map(int,input().split()))
print(sum(n))

1 2 3 4
10

In [ ]:
#7
n = tuple(map(str,input().split()))
print(n[0],n[len(n) - 1],n[::-1])

1 2 3 4
1 4 ('4', '3', '2', '1')

In [ ]:
#8
n = list(map(str,input().split()))
d = {}
for i in n:
  if i in d:
    d[i] += 1
  else:
    d[i] = 1
print(d)

a a a a b a b b b
{'a': 5, 'b': 4}

In [ ]:
#9
import ast
a = input()
b = input()

d = ast.literal_eval(a)
D = ast.literal_eval(b)
for i in D:
  if i in d:
    d[i] += D[i]
  else:
    d[i] = D[i]
print(d)

{'a':2}
{'a':3,'b':3}
{'a': 5, 'b': 3}

In [ ]:
#10
n = list(map(int,input().split()))
m = int(input())
a = []
for i in range(len(n) - 1) :
  for j in range(i + 1,len(n)):
    if n[j] + n[i] == m and n[i] not in a:
      a.append(n[i])
a.sort()
b = []
for i in a:
  b.append((i,m - i))
print(b)

1 2 3 2 1
4
[(1, 3), (2, 2), (3, 1)]

In [ ]:
#11
a = tuple(map(int,input().split()))
b = []
c = []
for i in a :
  if i % 2 == 0 :
    b.append(i)
  else :
    c.append(i)
print(tuple(b))
print(tuple(c))

99
()
(99,)

In [ ]:
#12
a = list(map(int,input().split()))
d = {}
for i in a :
  if i not in d :
    d[i] = 1
  else:
    d[i] += 1
m = 0
n = a[0]
for i in d :
  if d[i] > m :
     m = d[i]
     n = i
  elif d[i] == m:
    n = min(n,i)
print(n)

1 2 3 4 5 6
1

In [ ]:
#13
a = list(map(str,input().split()))
d = {}
for i in range(1,len(a),2) :
  d[a[i]] = a[i - 1]
print(d)

code A-1 user B_2
{'A-1': 'code', 'B_2': 'user'}

In [ ]:
#14
a = list(map(int,input().split()))
b = list(map(int,input().split()))
c = []
for i in a :
  if i in b and i not in c :
    c.append(i)
print(c)

1 2 2 3 4
2 3 3 5 4 1
[1, 2, 3, 4]

In [ ]:
#15
a = input().split()
n = int(input())
d = {}
for i in range(1,len(a),2):
  if int(a[i]) > n:
    d[a[i - 1]] = a[i]
print(d)

math 95 science 88 english 92 history 75
90
{'math': '95', 'english': '92'}

In [ ]:
#16
n,m = map(int,input().split())
b = []
for i in range(n):
  a = list(map(int,input().split()))
  b.append(a)
for i in b:
  print(i)

2 3
1 2 3
3 4 5
[1, 2, 3]
[3, 4, 5]

In [ ]:
#17
n = int(input())
b = []
cc = []
cp = []
for i in range(n):
  a = list(map(int,input().split()))
  b.append(a)
for i in range(len(b)):
  cc.append(b[i][i])
  cp.append(b[i][len(b) - i - 1])
print(cc)
print(cp)

3
1 2 3
4 5 6
7 9 0
[1, 5, 0]
[3, 5, 7]

In [ ]:
#18
n,m,k = map(int,input().split())
b = []
for i in range(n):
  a = list(map(int,input().split()))
  b.append(a)
s = 0
for i in range(n):
  s += b[i][k-1]
print(s)

3 3 1
1 2 3
4 5 6
7 8 9
12

In [ ]:
#19
a = list(map(int,input().split()))
for i in range(len(a)):
  if a[i] == max(a) :
    print(int(i) + 1)

1 2 3  4 5 6 7 8 9
9

In [ ]:
#20
a = list(map(int,input().split()))
k = int(input())
kq = -1
for i in range(len(a)) :
  if a[i] == k :
    kq = i
    break
print(k)

1 2 3 4 5 -6 7 8 19 1 2 3 4 5
5
5

In [ ]:
#21
a = input().split()
d = {}
for i in range(len(a)):
  if a[i] in d :
    d[a[i]].append(i)
  else :
    d[a[i]] = [i]
for i in d :
  d[i] = tuple(d[i])
print(d)

1 1 1
{'1': (0, 1, 2)}

In [ ]:
#22
# giống bài 19